<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="error.pirate.backend.shippingInstruction.query.mapper.ShippingInstructionMapper">

    <!--    출하지시서 리스트 조회  -->
    <select id="selectShippingInstructionList"
            resultType="error.pirate.backend.shippingInstruction.query.dto.ShippingInstructionListDTO">
        SELECT
            si.shipping_instruction_seq,
            si.shipping_instruction_name,
            si.shipping_instruction_status,
            si.shipping_instruction_scheduled_shipment_date,
            so.client_name,
            (
                SELECT GROUP_CONCAT(i.item_name SEPARATOR ', ')
                FROM tb_shipping_instruction_item sii
                JOIN tb_item i ON sii.item_seq = i.item_seq
                WHERE sii.shipping_instruction_seq = si.shipping_instruction_seq
            ) AS item_names
        FROM tb_shipping_instruction si
        JOIN tb_sales_order so ON si.sales_order_seq = so.sales_order_seq
        WHERE si.shipping_instruction_status IN ('결재 전', '결재 후')
        <trim prefixOverrides="AND |OR ">
            <if test="startDate != NULL AND endDate != NULL">
                AND si.shipping_instruction_scheduled_shipment_date BETWEEN #{startDate} AND #{endDate}
            </if>
            <if test="clientName != null">
                AND so.client_name LIKE CONCAT('%', #{clientName}, '%')
            </if>
            <if test="shippingInstructionStatus != null">
                AND si.shipping_instruction_status LIKE #{shippingInstructionStatus}
            </if>
        </trim>
        ORDER BY si.shipping_instruction_reg_date DESC
        LIMIT #{limit} OFFSET #{offset}
    </select>

    <!--    출하지시서 리스트 갯수  -->
    <select id="countShippingInstruction" resultType="long">
        SELECT COUNT(*)
        FROM tb_shipping_instruction si
        JOIN tb_sales_order so ON si.sales_order_seq = so.sales_order_seq
        <trim prefix="WHERE" prefixOverrides="AND |OR ">
            <if test="startDate != NULL AND endDate != NULL">
                si.shipping_instruction_scheduled_shipment_date BETWEEN #{startDate} AND #{endDate}
            </if>
            <if test="clientName != null">
                AND so.client_name LIKE CONCAT('%', #{clientName}, '%')
            </if>
            <if test="shippingInstructionStatus != null">
                AND si.shipping_instruction_status LIKE #{shippingInstructionStatus}
            </if>
        </trim>
    </select>

    <!--    출하지시서 상세 조회  -->
    <select id="selectShippingInstructionByShippingInstructionSeq"
            resultType="error.pirate.backend.shippingInstruction.query.dto.ShippingInstructionResponse">
        SELECT
            si.shipping_instruction_seq,
            si.shipping_instruction_name,
            si.shipping_instruction_status,
            si.shipping_instruction_scheduled_shipment_date,
            so.client_name,
            si.shipping_instruction_total_quantity,
            si.shipping_instruction_address,
            si.shipping_instruction_note,
        FROM tb_shipping_instruction si
        JOIN tb_sales_order so ON si.sales_order_seq = so.sales_order_seq
        WHERE si.shipping_instruction_seq = #{shippingInstructionSeq}
    </select>

    <!--    출하지시서 품목 리스트 조회  -->
    <select id="selectItemListByShippingInstructionSeq"
            resultType="error.pirate.backend.shippingInstruction.query.dto.ItemDTO">
        SELECT
            i.item_name,
            i.item_division,
            i.item_price,
            sii.shippingInstructionItemQuantity,
            sii.shippingInstructionItemNote,
            (i.item_price * sii.shippingInstructionItemQuantity) AS itemTotalQuantity
        FROM tb_shipping_instruction_item sii
        JOIN tb_item i ON sii.item_seq = i.item_seq
        WHERE sii.shipping_instruction_seq = #{shippingInstructionSeq}
    </select>

    <!--  출하지시서 현황 조회  -->
    <select id="selectShippingInstructionSituationList" resultType="error.pirate.backend.quotation.query.dto.ShippingInstructionSituationDTO">
        SELECT
            si.shipping_instruction_seq,
            si.shipping_instruction_scheduled_shipment_date,
            si.shipping_instruction_name,
            si.shipping_instruction_total_quantity,
            so.client_name,
            si.shipping_instruction_address
            si.shipping_instruction_note
        FROM tb_shipping_instruction si
        JOIN tb_sales_order so ON si.sales_order_seq = so.sales_order_seq
        WHERE TRUE
        <if test="startDate != null"><![CDATA[
            AND #{startDate} <= tb_quotation.quotation_quotation_date
        ]]></if>
        <if test="endDate != null"><![CDATA[
            AND #{endDate} >= tb_quotation.quotation_quotation_date
        ]]></if>
        <if test="clientName != null">
            AND tb_client.client_name LIKE CONCAT('%', #{clientName}, '%')
        </if>
    </select>
</mapper>