<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="error.pirate.backend.purchaseOrder.query.mapper.PurchaseOrderMapper">

    <select id="readPurchaseOrderList" resultType="error.pirate.backend.purchaseOrder.query.dto.PurchaseOrderResponse">
        SELECT
            tpo.purchase_order_seq,
            tpo.purchase_order_name,
            tpo.purchase_order_status,
            tpo.purchase_order_due_date,
            tpo.purchase_order_target_due_date,
            tpo.purchase_order_extended_price,
            tpo.purchase_order_note,
            tu.user_name,
            tc.client_name,
            tpoi.item_seq,
            tpoi.purchase_order_item_quantity,
            tpoi.purchase_order_item_price,
            tpoi.purchase_order_item_note,
            ti.item_name,
            ti.item_image_url
        FROM tb_purchase_order tpo
        JOIN tb_user tu USING (user_seq)
        JOIN tb_client tc USING (client_seq)
        LEFT JOIN tb_purchase_order_item tpoi ON (tpo.purchase_order_seq = tpoi.purchase_order_seq)
        LEFT JOIN tb_item ti ON (tpoi.item_seq = ti.item_seq)
        <trim prefix="WHERE" prefixOverrides="AND">
            <if test="searchStartDate != null and searchStartDate != ''">
                <![CDATA[
                AND #{searchStartDate} <= tpo.purchase_order_target_due_date
                ]]>
            </if>
            <if test="searchEndDate != null and searchEndDate != ''">
                <![CDATA[
                AND #{searchEndDate} >= tpo.purchase_order_target_due_date
                ]]>
            </if>
            <if test="clientName != null">
                AND tc.client_name LIKE CONCAT('%', #{clientName}, '%')
            </if>
            <if test="purchaseOrderStatus != null">
                AND tpo.purchase_order_status = #{purchaseOrderStatus}
            </if>
        </trim>
        ORDER BY tpo.purchase_order_seq
        LIMIT #{limit} OFFSET #{offset}
    </select>

    <select id="readPurchaseOrderListCount" resultType="int">
        SELECT
            COUNT(*)
        FROM tb_purchase_order tpo
        JOIN tb_user tu USING (user_seq)
        JOIN tb_client tc USING (client_seq)
        LEFT JOIN tb_purchase_order_item tpoi ON (tpo.purchase_order_seq = tpoi.purchase_order_seq)
        LEFT JOIN tb_item ti ON (tpoi.item_seq = ti.item_seq)
        <trim prefix="WHERE" prefixOverrides="AND">
            <if test="searchStartDate != null and searchStartDate != ''">
                <![CDATA[
                AND #{searchStartDate} <= tpo.purchase_order_target_due_date
                ]]>
            </if>
            <if test="searchEndDate != null and searchEndDate != ''">
                <![CDATA[
                AND #{searchEndDate} >= tpo.purchase_order_target_due_date
                ]]>
            </if>
            <if test="clientName != null">
                AND tc.client_name LIKE CONCAT('%', #{clientName}, '%')
            </if>
            <if test="purchaseOrderStatus != null">
                AND tpo.purchase_order_status = #{purchaseOrderStatus}
            </if>
        </trim>
    </select>

</mapper>