<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="error.pirate.backend.invoice.query.mapper.InvoiceMapper">

    <!--  거래 명세서 목록 조회  -->
    <select id="selectInvoiceList" resultType="error.pirate.backend.invoice.query.dto.InvoiceListItemDTO">
        SELECT
            tb_invoice.invoice_seq,
            tb_invoice.invoice_name,
            (SELECT
                GROUP_CONCAT(tb_item.item_name SEPARATOR ", ")
            FROM tb_invoice_item
            JOIN tb_item USING (item_seq)
            WHERE tb_invoice.invoice_seq = tb_invoice_item.invoice_seq) AS item_name,
            tb_client.client_name,
            tb_invoice.invoice_sale_date
        FROM tb_invoice
        JOIN tb_sales_order USING (sales_order_seq)
        JOIN tb_client USING (client_seq)
        WHERE tb_invoice.invoice_status NOT IN ("DELETE")
        <if test="startDate != null"><![CDATA[
            AND #{startDate} <= tb_invoice.invoice_sale_date
        ]]></if>
        <if test="endDate != null"><![CDATA[
            AND #{endDate} >= tb_invoice.invoice_sale_date
        ]]></if>
        <if test="clientName != null">
            AND tb_client.client_name LIKE CONCAT('%', #{clientName}, '%')
        </if>
        ORDER BY tb_invoice.invoice_reg_date DESC
        LIMIT #{limit} OFFSET #{offset}
    </select>

    <!--  거래 명세서 목록 개수 조회  -->
    <select id="countInvoiceList" resultType="int">
        SELECT
            COUNT(*)
        FROM tb_invoice
        JOIN tb_sales_order USING (sales_order_seq)
        JOIN tb_client USING (client_seq)
        WHERE tb_invoice.invoice_status NOT IN ("DELETE")
        <if test="startDate != null"><![CDATA[
            AND #{startDate} <= tb_invoice.invoice_sale_date
        ]]></if>
        <if test="endDate != null"><![CDATA[
            AND #{endDate} >= tb_invoice.invoice_sale_date
        ]]></if>
        <if test="clientName != null">
            AND tb_client.client_name LIKE CONCAT('%', #{clientName}, '%')
        </if>
    </select>

    <!--  거래 명세서 상세 조회  -->
    <select id="selectInvoice" resultType="error.pirate.backend.invoice.query.dto.InvoiceDTO">
        SELECT
            tb_invoice.invoice_seq,
            tb_invoice.invoice_name,
            tb_client.client_name,
            tb_invoice.invoice_extended_price,
            tb_invoice.invoice_total_quantity,
            tb_user.user_name,
            tb_invoice.invoice_sale_date,
            tb_invoice.invoice_note
        FROM tb_invoice
        JOIN tb_user USING (user_seq)
        JOIN tb_sales_order USING (sales_order_seq)
        JOIN tb_client USING (client_seq)
        WHERE tb_invoice.invoice_status NOT IN ("DELETE")
        AND tb_invoice.invoice_seq = #{invoiceSeq}
    </select>

    <!--  거래 명세서 상세 품목 조회  -->
    <select id="selectInvoiceItem" resultType="error.pirate.backend.invoice.query.dto.InvoiceItemDTO">
        SELECT
            tb_invoice_item.invoice_item_seq,
            tb_invoice_item.item_seq,
            tb_item.item_image_url,
            tb_item.item_division,
            tb_item.item_name,
            tb_invoice_item.invoice_item_quantity,
            tb_invoice_item.invoice_item_price,
            tb_invoice_item.invoice_item_note
        FROM tb_invoice_item
        JOIN tb_item USING (item_seq)
        WHERE tb_invoice_item.invoice_seq = #{invoiceSeq}
    </select>

    <!--  거래 명세서 현황 조회  -->
    <select id="selectInvoiceSituation" resultType="error.pirate.backend.invoice.query.dto.InvoiceSituationResponse">
        SELECT
            tb_invoice.invoice_sale_date,
            tb_invoice.invoice_name,
            tb_invoice.invoice_total_quantity,
            tb_invoice.invoice_extended_price,
            tb_client.client_name,
            tb_invoice.invoice_note,
            DATE_FORMAT(tb_invoice.invoice_sale_date, '%Y-%m') as invoice_sale_month,
            IFNULL(SUM(tb_invoice.invoice_extended_price), 0) as invoice_month_price,
            IFNULL(SUM(tb_invoice.invoice_total_quantity), 0) as invoice_month_quantity
        FROM tb_invoice
        JOIN tb_sales_order USING (sales_order_seq)
        JOIN tb_client USING (client_seq)
        WHERE tb_invoice.invoice_status NOT IN ("DELETE")
        <if test="startDate != null"><![CDATA[
            AND #{startDate} <= tb_invoice.invoice_sale_date
        ]]></if>
        <if test="endDate != null"><![CDATA[
            AND #{endDate} >= tb_invoice.invoice_sale_date
        ]]></if>
        <if test="clientName != null">
            AND tb_client.client_name LIKE CONCAT('%', #{clientName}, '%')
        </if>
        GROUP BY
            DATE_FORMAT(tb_invoice.invoice_sale_date, '%Y-%m'),
        tb_invoice.invoice_sale_date WITH ROLLUP;
    </select>

    <!--  거래 명세서 품목 값 확인  -->
    <select id="sumInvoiceItemValue" resultType="error.pirate.backend.invoice.query.dto.InvoiceItemCheckDTO">
        SELECT
            tb_sales_order_item.item_seq AS item,
            tb_sales_order_item.sales_order_item_quantity - NVL((
                SELECT SUM(tb_invoice_item.invoice_item_quantity)
                FROM tb_invoice
                JOIN tb_invoice_item USING (invoice_seq)
                WHERE tb_invoice.sales_order_seq = tb_sales_order.sales_order_seq
                AND tb_invoice_item.item_seq = item
            ), 0) AS remaining_quantity
        FROM tb_sales_order AS tb_sales_order
        JOIN tb_sales_order_item USING (sales_order_seq)
        WHERE tb_sales_order.sales_order_status NOT IN ("DELETE")
        AND tb_sales_order.sales_order_seq = #{salesOrderSeq}
    </select>

    <!--  거래 명세서 목록 엑셀 다운로드  -->
    <select id="selectInvoiceExcel" resultType="error.pirate.backend.invoice.query.dto.InvoiceExcelDTO">
        SELECT
            tb_invoice.invoice_reg_date,
            tb_invoice.invoice_mod_date,
            tb_invoice.invoice_name,
            tb_invoice.invoice_sale_date,
            tb_invoice.invoice_total_quantity,
            tb_invoice.invoice_extended_price,
            tb_invoice.invoice_note
        FROM tb_invoice
        WHERE tb_invoice.invoice_status NOT IN ("DELETE")
        <if test="startDate != null"><![CDATA[
            AND #{startDate} <= tb_invoice.invoice_sale_date
        ]]></if>
        <if test="endDate != null"><![CDATA[
            AND #{endDate} >= tb_invoice.invoice_sale_date
        ]]></if>
        <if test="clientName != null">
            AND tb_client.client_name LIKE CONCAT('%', #{clientName}, '%')
        </if>
    </select>

    <!--  거래 명세서 현황 엑셀 다운로드  -->
    <select id="selectInvoiceSituationExcel" resultType="error.pirate.backend.invoice.query.dto.InvoiceSituationExcelDTO">
        SELECT
            tb_invoice.invoice_sale_date,
            tb_invoice.invoice_name,
            tb_invoice.invoice_total_quantity,
            tb_invoice.invoice_extended_price,
            tb_client.client_name,
            tb_invoice.invoice_note
        FROM tb_invoice
        JOIN tb_sales_order USING (sales_order_seq)
        JOIN tb_client USING (client_seq)
        WHERE tb_invoice.invoice_status NOT IN ("DELETE")
        <if test="startDate != null"><![CDATA[
            AND #{startDate} <= tb_invoice.invoice_sale_date
        ]]></if>
        <if test="endDate != null"><![CDATA[
            AND #{endDate} >= tb_invoice.invoice_sale_date
        ]]></if>
        <if test="clientName != null">
            AND tb_client.client_name LIKE CONCAT('%', #{clientName}, '%')
        </if>
    </select>
</mapper>
