<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="error.pirate.backend.client.query.mapper.ClientMapper">

    <select id="findClientListByFilter" resultType="error.pirate.backend.client.query.dto.ClientResponse">
        <![CDATA[
   SELECT
       client_seq AS clientSeq,
       client_name AS clientName,
       client_phone_no AS clientPhoneNo,
       client_email AS clientEmail,
       client_registration_no AS clientRegistrationNo,
       client_representative AS clientRepresentative,
       client_reg_date AS clientRegDate,
       client_mod_date AS clientModDate
   FROM tb_client
   WHERE 1=1
   AND client_status = 'ACTIVE'
   ]]>
        <if test="clientName != null and clientName != ''">
            <![CDATA[
       AND client_name LIKE CONCAT('%', #{clientName}, '%')
       ]]>
        </if>
        <if test="clientRegistrationNo != null and clientRegistrationNo != ''">
            <![CDATA[
       AND client_registration_no LIKE CONCAT('%', #{clientRegistrationNo}, '%')
       ]]>
        </if>
        <![CDATA[
   ORDER BY client_seq DESC
   LIMIT #{offset}, #{size}
   ]]>
    </select>

    <select id="findClientSeq" resultType="error.pirate.backend.client.query.dto.ClientResponse">
        SELECT
        client_seq AS clientSeq,
        client_name AS clientName,
        client_phone_no AS clientPhoneNo,
        client_email AS clientEmail,
        client_registration_no AS clientRegistrationNo,
        client_representative AS clientRepresentative,
        client_reg_date AS clientRegDate,
        client_mod_date AS clientModDate
        FROM tb_client
        WHERE client_seq = #{clientSeq}
        AND client_status = 'ACTIVE'
    </select>
    <select id="countClientsByFilter" resultType="int">
        SELECT COUNT(*)
        FROM tb_client
        WHERE 1=1 AND client_status = 'ACTIVE'
        <if test="clientName != null and clientName != ''">
            AND client_name LIKE CONCAT('%', #{clientName}, '%')
        </if>
        <if test="clientRegistrationNo != null and clientRegistrationNo != ''">
            AND client_registration_no LIKE CONCAT('%', #{clientRegistrationNo}, '%')
        </if>
    </select>
</mapper>
